@model MyPlacesBox.Web.ViewModels.Landmarks.LandmarksListInputModel
@{
    this.ViewData["Title"] = "All Landmarks, page " + Model.PageNumber;
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="alert">
    @foreach (var landmark in this.Model.Landmarks)
    {
        <div class="media">
            <img src="@landmark.ImageUrl" width="150" class="mr-3 img-responsive" alt="...">
            <div class="media-body">
                <h5 class="mt-0"><a asp-action="ById" asp-route-id="@landmark.Id">@landmark.Name</a></h5>
                <p>@(landmark.Description.Length<400? landmark.Description:landmark.Description.Substring(0, 400))...</p>
                <ul class="list-item-meta">
                    <li>@landmark.CategoryName</li>
                    <li>
                        <small class="glyphicon glyphicon-star" aria-hidden="true">@landmark.RegionName</small>
                    </li>          
                </ul>
            </div>
        </div>
    }
</div>

<div>
    <hr />
    <partial name="_PagingPartial" model="@Model"/>    
</div>