@using MyPlacesBox.Common
@model MyPlacesBox.Web.ViewModels.Landmarks.MainLandmarkViewModel

@{
    this.ViewData["Title"] = Model.SingleLandmarkView.Name;
}
<section class="main">
    <div class="shell clearfix">
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/" target="_self">Home page</a></li>
                <li><a href="/landmarks/All" target="_self">Landmarks</a></li>
                <li>@Model.SingleLandmarkView.Name</li>
            </ul>
        </nav>
        <landmark :id="@Model.SingleLandmarkView.Id" inline-template>
            <section class="adventure" itemscope itemtype="http://schema.org/Hotel">

                <header class="title">
                    <h1>@Model.SingleLandmarkView.Name</h1>
                </header>

                <div class="row col-xl-9 col-12">
                    <ul class="entry-meta">
                        <li class="single-meta">
                            <i class="far fa-calendar-alt"></i>
                            @Model.SingleLandmarkView.CreatedOn.ToShortDateString()
                        </li>
                        <li class="single-meta">
                            <i class="fas fa-user"></i><strong>Added by:</strong>
                            @if (string.IsNullOrWhiteSpace(Model.SingleLandmarkView.UserUserName))
                            {
                                <span>
                                    <a href="https://tripsjournal.com/" target="_blank"> https://tripsjournal.com/ </a>
                                </span>
                            }
                            else
                            {
                                <span>
                                    @Model.SingleLandmarkView.UserUserName
                                </span>
                            }
                        </li>
                        <li class="single-meta">
                            <ul class="item-rating">
                                <li class="star" data-vote="1"><i class="fas fa-star text-warning"></i></li>
                                <li class="star" data-vote="2"><i class="fas fa-star text-warning"></i></li>
                                <li class="star" data-vote="3"><i class="fas fa-star text-warning"></i></li>
                                <li class="star" data-vote="4"><i class="fas fa-star text-warning"></i></li>
                                <li class="star" data-vote="5"><i class="fas fa-star text-warning"></i></li>
                                <li><span id="averageVoteValue">@Model.SingleLandmarkView.AverageVote.ToString("0.0")</span><span> / 5</span> </li>
                            </ul>
                        </li>
                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li class="single-meta">
                                <a asp-controller="Landmarks" asp-action="Edit" asp-route-id="@Model.SingleLandmarkView.Id" class="btn btn-secondary">Edit</a>
                            </li>
                            <li class="single-meta">
                                <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.SingleLandmarkView.Id">
                                </form>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                            </li>
                        }
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            @*<li class="single-meta">
                                <form method="post" asp-action="SendToEmail" asp-route-id="@Model.SingleLandmarkView.Id">
                                    <button class="btn btn-warning">Send to my email</button>
                                </form>
                            </li>*@
                            <li class="single-meta">
                                <button class="btn btn-warning" onclick="window.print()">Print</button>
                            </li>
                        }
                    </ul>
                </div>
                <br />
                <div class="details " id="details">

                    <div class="row">
                        <div class="list-table col-md-4">
                            <ul>
                                <li>
                                    <strong>Category:</strong>
                                    <span>@Model.SingleLandmarkView.CategoryName</span>
                                </li>
                                <li>
                                    <strong>Region:</strong>
                                    <span>@Model.SingleLandmarkView.RegionName</span>
                                </li>
                                <li>
                                    <strong>Town:</strong>
                                    @if (Model.SingleLandmarkView.TownName == null || Model.SingleLandmarkView.TownName == "none")
                                    {
                                        <span itemprop="location">—</span>
                                    }
                                    else
                                    {
                                        <span itemprop="location">@Model.SingleLandmarkView.TownName</span>
                                    }

                                </li>
                                <li>
                                    <strong>Mountain:</strong>
                                    @if (Model.SingleLandmarkView.MountainName == null || Model.SingleLandmarkView.MountainName == "none")
                                    {
                                        <span>—</span>
                                    }
                                    else
                                    {
                                        <span>@Model.SingleLandmarkView.MountainName</span>
                                    }
                                </li>
                                <li>
                                    <strong>Coordinates:</strong>
                                    @if (Model.SingleLandmarkView.Latitude != null && Model.SingleLandmarkView.Longitute != null)
                                    {
                                        <span itemprop="geo" ; itemscope="itemscope" itemtype="" http: //schema.org/GeoCoordinates""> @Model.SingleLandmarkView.Longitute, @Model.SingleLandmarkView.Latitude</span>
                                    }
                                    else
                                    {
                                        <span itemprop="geo" ; itemscope="itemscope" itemtype="">—</span>
                                    }

                                </li>
                                <li>
                                    <strong>Website:</strong>
                                    @if (Model.SingleLandmarkView.Websate == null || Model.SingleLandmarkView.Websate == "—")
                                    {
                                        <span>—</span>
                                    }
                                    else
                                    {
                                        <span target="_blank" rel="nofollow" class="list-item-website">
                                            <a href="@Model.SingleLandmarkView.Websate">@Model.SingleLandmarkView.Websate</a>
                                        </span>
                                    }

                                </li>
                                <li>
                                    <strong>Адрес:</strong>
                                    @if (Model.SingleLandmarkView.Address == null || Model.SingleLandmarkView.Address == "—")
                                    {
                                        <span itemprop="streetAddress">—</span>
                                    }
                                    else
                                    {
                                        <span itemprop="streetAddress">
                                            @Model.SingleLandmarkView.Address
                                        </span>
                                    }

                                </li>
                                <li>
                                    <strong>Phone:</strong>
                                    <span itemprop="telephone">@Model.SingleLandmarkView.PhoneNumber</span>
                                </li>
                                <li>
                                    <strong>Work time:</strong>
                                    @if (Model.SingleLandmarkView.WorkTime != null)
                                    {
                                        <span itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="" http: //schema.org/OpeningHoursSpecification&quo""><em class="working-hours">@Model.SingleLandmarkView.WorkTime</em></span>
                                    }
                                    else
                                    {
                                        <span itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="" http: //schema.org/OpeningHoursSpecification&quo""><em class="working-hours"> - </em></span>
                                    }

                                </li>
                                <li>
                                    <strong>Days OFF:</strong>
                                    @if (Model.SingleLandmarkView.DayOff != null)
                                    {
                                        <span itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="" http: //schema.org/OpeningHoursSpecification&quo"">
                                            <p>@Model.SingleLandmarkView.DayOff</p>
                                        </span>
                                    }
                                    else
                                    {
                                        <span itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="" http: //schema.org/OpeningHoursSpecification&quo"">
                                            <em> - </em>
                                        </span>
                                    }
                                </li>
                                <li>
                                    <strong>Entrance Fee</strong>
                                    @if (Model.SingleLandmarkView.EntranceFee != 0)
                                    {
                                        <span>
                                            <em>@Model.SingleLandmarkView.EntranceFee лв.</em>
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            <em> - </em>
                                        </span>
                                    }

                                </li>
                                <li>
                                    <strong>Difficulty:</strong>
                                    <span>
                                        <ul class="item-rating d-flex justify-content-between flex-sm-row">
                                            @for (int i = 0; i < Model.SingleLandmarkView.Difficulty; i++)
                                            {
                                                <li class="star-fill" data-vote="1"><i class="fas fa-hiking text-danger"></i></li>
                                            }
                                            @for (int i = Model.SingleLandmarkView.Difficulty; i < 6; i++)
                                            {
                                                <li class="star-fill" data-vote="1"><i class="fas fa-hiking text-warning"></i></li>
                                            }
                                        </ul>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    @for (int i = 0; i < Model.SingleLandmarkView.LandmarkImages.Count(); i++)
                                    {
                                        if (i == 0)
                                        {
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        }
                                        else
                                        {
                                            <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                                        }
                                    }
                                </ol>
                                <div class="carousel-inner" style="height: 431px;">
                                    @{bool isActive = false;}
                                    @foreach (var item in Model.SingleLandmarkView.LandmarkImages)
                                    {
                                        if (isActive == false)
                                        {
                                            <div class="carousel-item active" style="height: 431px;">
                                                <img class="d-block w-100" src="@item.RemoteImageUrl" alt="First slide" style="object-fit: cover;">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>@Model.SingleLandmarkView.Name</h5>
                                                    <p>See the pictures from @Model.SingleLandmarkView.Name.</p>
                                                </div>
                                            </div>
                                            isActive = true;
                                        }
                                        else
                                        {
                                            <div class="carousel-item" style="height: 431px;">
                                                <img class="d-block w-100" src="@item.RemoteImageUrl" alt="@item.Id slide">
                                            </div>
                                        }

                                    }
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
                <br />
                <section class="post">
                    <div class="entry-sidebar">
                        <aside class="sidebar-post">
                            <ul class="widgets">
                                <li id="text-3" class="widget widget_text">
                                    <h5 class="widget-title">Websites Design:</h5>
                                    <div class="textwidget">
                                        <p>
                                            <a class="no-popup" href="https://www.linkedin.com/in/yordan-yordanov-139906148/" alt="" width="300" height="147" />
                                            <img src="https://optimizedwebbulgaria.com/wp-content/uploads/2020/10/website-design.jpg" alt="Alternate Text" /></a><br />
                                            <a style="font-size: 18px; font-weight: bold;" href="https://www.linkedin.com/in/yordan-yordanov-139906148/" target="_blank" rel="noopener noreferrer">Learn more!</a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </aside>
                    </div>

                    <article class="entry">
                        <h2 class="h3">Description</h2>
                        @foreach (var item in Model.SingleLandmarkView.Description.Split("\\n"))
                        {
                            <p>@item</p>
                        }
                    </article>
                </section>

                <div>
                    <h3>Google Maps Logation of @Model.SingleLandmarkView.Name</h3>
                    <!--The div element for the map -->
                    <div id="map"></div>
                </div>

                <section class="articles" id="nearby-places">
                    <header class="articles-head">
                        <h3 class="h1">
                            Интересни места наоколо, които да посетите:
                        </h3>
                    </header>

                    <section class="articles-container clearfix placeslist">
                        @{
                            var landmarkArount = Model.LandmarksListInput.Landmarks.Where(x => x.RegionName == Model.SingleLandmarkView.RegionName);
                            int countlandmarks = 0;

                            @foreach (var item in landmarkArount)
                            {

                                if (Model.SingleLandmarkView.Id != item.Id)
                                {
                                    <a class="article" asp-action="ById" asp-route-id="@item.Id">
                                        <span class="article-image">
                                            <img src="@item.ImageUrl" />
                                            <small class="icon icon-historical" title=""></small>
                                        </span>

                                        <span class="article-title">@item.Name </span>
                                    </a>
                                }

                                countlandmarks++;
                                if (countlandmarks == 4)
                                {
                                    break;
                                }
                            }
                        }
                    </section>
                </section>

            </section>
        </landmark>
    </div>
</section>

<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRhXjWy7NSz9HrW0zRTZ65RReKgRpdZ-Y&callback=initMap">
</script>
<script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const uluru = { lat: @Model.SingleLandmarkView.Latitude, lng: @Model.SingleLandmarkView.Longitute };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: uluru,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
        }
</script>

<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $("li[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                console.log(value);
                var landmarkId = @Model.SingleLandmarkView.Id;
                console.log(landmarkId);
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { landmarkId: landmarkId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/LandmarkVotes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.SingleLandmarkView.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>