@model MyPlacesBox.Web.ViewModels.Landmarks.MainLandmarkViewModel

@{
    this.ViewData["Title"] = Model.SingleLandmarkView.Name;
}
<section class="main">
    <div class="shell clearfix">
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/" target="_self">Home page</a></li>
                <li><a href="/landmarks/All" target="_self">Landmarks</a></li>
                <li>@Model.SingleLandmarkView.Name</li>
            </ul>
        </nav>
        <landmark :id="@Model.SingleLandmarkView.Id" inline-template>
            <section class="adventure" itemscope itemtype="http://schema.org/Hotel">

                <header class="title">
                    <h1>@Model.SingleLandmarkView.Name</h1>
                </header>

                <div class="row col-xl-9 col-12">
                    <ul class="entry-meta">
                        <li class="single-meta">
                            <i class="far fa-calendar-alt"></i>
                            @Model.SingleLandmarkView.CreatedOn.ToShortDateString()
                        </li>
                        <li class="single-meta">
                            <i class="fas fa-user"></i><strong>Added by:</strong>
                            @if (string.IsNullOrWhiteSpace(Model.SingleLandmarkView.UserUserName))
                            {
                                <span>
                                    <a href="https://tripsjournal.com/" target="_blank"> https://tripsjournal.com/ </a>
                                </span>
                            }
                            else
                            {
                                <span>
                                    @Model.SingleLandmarkView.UserUserName
                                </span>
                            }
                        </li>
                        <li class="single-meta">
                            <ul class="item-rating">
                                <li class="star-fill" data-vote="1"><i class="fas fa-star"></i></li>
                                <li class="star-fill" data-vote="2"><i class="fas fa-star"></i></li>
                                <li class="star-fill" data-vote="3"><i class="fas fa-star"></i></li>
                                <li class="star-fill" data-vote="4"><i class="fas fa-star"></i></li>
                                <li class="star-fill" data-vote="5"><i class="fas fa-star"></i></li>
                                <li><span id="averageVoteValue">@Model.SingleLandmarkView.AverageVote.ToString("0.0")</span><span> / 5</span> </li>
                            </ul>
                        </li>
                        @*@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="single-meta">
                <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
            </li>
            <li class="single-meta">
                <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                </form>
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </li>
            <li class="single-meta">
                <form method="post" asp-action="SendToEmail" asp-route-id="@Model.Id">
                    <button class="btn btn-warning">Send to my email</button>
                </form>
            </li>
            <li class="single-meta">
                <button class="btn btn-warning" onclick="window.print()">Print</button>
            </li>
        }*@
                    </ul>
                </div>
                <br />
                <div class="details " id="details">

                    <div class="row">
                        <div class="list-table col-xs-6">
                            <ul>
                                <li>
                                    <strong>Category:</strong>
                                    <span>@Model.SingleLandmarkView.CategoryName</span>
                                </li>
                                <li>
                                    <strong>Region:</strong>
                                    <span>@Model.SingleLandmarkView.RegionName</span>
                                </li>
                                <li>
                                    <strong>Town:</strong>
                                    @if (Model.SingleLandmarkView.TownName == null || Model.SingleLandmarkView.TownName == "none")
                                    {
                                        <span itemprop="location">none</span>
                                    }
                                    else
                                    {
                                        <span itemprop="location">@Model.SingleLandmarkView.TownName</span>
                                    }

                                </li>
                                <li>
                                    <strong>Mountain:</strong>
                                    @if (Model.SingleLandmarkView.MountainName == null || Model.SingleLandmarkView.MountainName == "none")
                                    {
                                        <span>none</span>
                                    }
                                    else
                                    {
                                        <span>@Model.SingleLandmarkView.MountainName</span>
                                    }
                                </li>
                                <li>
                                    <strong>Coordinates:</strong>
                                    @if (Model.SingleLandmarkView.Latitude != null && Model.SingleLandmarkView.Longitute != null)
                                    {
                                        <span itemprop="geo" ; itemscope="itemscope" itemtype="" http: //schema.org/GeoCoordinates""> @Model.SingleLandmarkView.Longitute, @Model.SingleLandmarkView.Latitude</span>
                                    }
                                    else
                                    {
                                        <span itemprop="geo" ; itemscope="itemscope" itemtype=""> - </span>
                                    }

                                </li>
                                <li>
                                    <strong>Website:</strong>
                                    @if (Model.SingleLandmarkView.Websate != null)
                                    {
                                        <span href="@Model.SingleLandmarkView.Websate" target="_blank" rel="nofollow" class="list-item-website">@Model.SingleLandmarkView.Websate</span>
                                    }
                                    else
                                    {
                                        <span>—</span>
                                    }

                                </li>
                                <li>
                                    <strong>Адрес:</strong>
                                    <span itemprop="streetAddress">—</span>
                                </li>
                                <li>
                                    <strong>Phone:</strong>
                                    <span itemprop="telephone">+359 936 53 022</span>
                                </li>
                                <li>
                                    <strong>Work time:</strong>
                                    @if (Model.SingleLandmarkView.WorkTime != null)
                                    {
                                        <span itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="" http: //schema.org/OpeningHoursSpecification&quo""><em class="working-hours">@Model.SingleLandmarkView.WorkTime</em></span>
                                    }
                                    else
                                    {
                                        <span itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="" http: //schema.org/OpeningHoursSpecification&quo""><em class="working-hours"> - </em></span>
                                    }

                                </li>
                                <li>
                                    <strong>Days OFF:</strong>
                                    @if (Model.SingleLandmarkView.DayOff != null)
                                    {
                                        <span itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="" http: //schema.org/OpeningHoursSpecification&quo"">
                                            <p>@Model.SingleLandmarkView.DayOff</p>
                                        </span>
                                    }
                                    else
                                    {
                                        <span itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="" http: //schema.org/OpeningHoursSpecification&quo"">
                                            <em> - </em>
                                        </span>
                                    }
                                </li>
                                <li>
                                    <strong>Entrance Fee</strong>
                                    @if (Model.SingleLandmarkView.EntranceFee != 0)
                                    {
                                        <span>
                                            <em>@Model.SingleLandmarkView.EntranceFee</em>
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            <em> - </em>
                                        </span>
                                    }

                                </li>
                                <li>
                                    <strong>Difficulty:</strong>
                                    <span>
                                        <em class="rating" data-score="6" data-hints='["Екстремно","Много трудно","Трудно","Средно","Лесно","Много лесно","С автомобил"]'>@Model.SingleLandmarkView.Difficulty</em>
                                    </span>
                                </li>
                                <li>
                                    <strong>Stars:</strong>
                                    <span>
                                        <em class="rating" data-score="6" data-hints='["Екстремно","Много трудно","Трудно","Средно","Лесно","Много лесно","С автомобил"]'>@Model.SingleLandmarkView.Stars</em>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <div img-fluid>
                                <img class="img-fluid" alt="Responsive image" src="@Model.SingleLandmarkView.ImageUrl">
                            </div>
                        </div>

                    </div>

                </div>
                <br />
                <section class="post">
                    <div class="entry-sidebar">
                        <aside class="sidebar-post">
                            <ul class="widgets">
                                <li id="text-3" class="widget widget_text">
                                    <h5 class="widget-title">Сигурен ли си в планината?</h5>
                                    <div class="textwidget">
                                        <p>
                                            <a class="no-popup" href="https://www.parana.bg/bg/insurance_bulgaria" target="_blank" rel="noopener noreferrer"><img class="alignnone size-medium wp-image-11872" src="https://tripsjournal.com/wp-content/uploads/2019/07/udobnata-planinska-zastrahovka-trips-journal-300x147.png" alt="" width="300" height="147" /></a><br />
                                            <a style="font-size: 18px; font-weight: bold;" href="https://www.parana.bg/bg/insurance_bulgaria" target="_blank" rel="noopener noreferrer">Купи тук!</a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </aside>
                    </div>

                    <article class="entry">
                        <h2 class="h3">Description</h2>
                        @foreach (var item in Model.SingleLandmarkView.Description.Split("\\n"))
                        {
                            <p>@item</p>
                        }

                        @*<adsense data-ad-slot="5137058607" type="horizontal"></adsense>*@





                        <div class="">
                            <ul class="row ">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f icon"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter icon"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram icon"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-google-plus-g icon"></i></a>
                                </li>
                            </ul>
                        </div>

                        @*<div>
                                <h1>My First Google Map</h1>

                                <div id="googleMap" style="width:100%;height:400px;"></div>
                            </div>*@


                        @*<div id="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47752.72784629606!2d@(Model.Latitude)!3d@(Model.Longitute)!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ac598ad0d361bb%3A0x400a01269bf5a80!2sSmolyan!5e0!3m2!1sen!2sbg!4v1588191727950!5m2!1sen!2sbg"
                                        width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                                        aria-hidden="false" tabindex="0"></iframe>
                            </div>
                            <div class="map-bottom">
                                <general-map v-if="landmarks.length" :markers-data="landmarks"></general-map>
                            </div>*@
                    </article>
                </section>

                <div>
                    <h3>My Google Maps Demo</h3>
                    <!--The div element for the map -->
                    <div id="map"></div>
                </div>

                <section class="articles" id="nearby-places">
                    <header class="articles-head">
                        <h3 class="h1">
                            <a href="https://tripsjournal.com/zabelezhitelnost/belogradchishkite-skali/mesta-nablizo">Интересни места наоколо, които да посетите</a>
                        </h3>
                    </header>

                    <section class="articles-container clearfix">
                        @{
                            var landmarkArount = Model.LandmarksListInput.Landmarks.Where(x => x.RegionName == Model.SingleLandmarkView.RegionName);
                            int countlandmarks = 0;
                        }

                        @foreach (var item in landmarkArount)
                        {

                            if (Model.SingleLandmarkView.Id != item.Id)
                            {
                                <a class="article" asp-action="ById" asp-route-id="@item.Id">
                                    <span class="article-image">
                                        <img src="@item.ImageUrl" />
                                        <small class="icon icon-historical" title=""></small>
                                    </span>

                                    <span class="article-title">@item.Name </span>
                                </a>
                            }
                        }
                        @*<a class="article" href="https://tripsjournal.com/zabelezhitelnost/belogradchishka-krepost-kaleto">
                                <span class="article-image">
                                    <img src="https://tripsjournal.com/wp-content/uploads/cache/2015/05/belogradchishka-krepost/431430801.jpg" />
                                    <small class="icon icon-historical" title=""></small>
                                </span>

                                <span class="article-title">Белоградчишка крепост &#8222;Калето&#8220;</span>
                            </a>*@

                    </section>
                </section>

            </section>
        </landmark>


    </div>
</section>



<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRhXjWy7NSz9HrW0zRTZ65RReKgRpdZ-Y&callback=initMap">
</script>
<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }
</style>
<script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const uluru = { lat: @Model.SingleLandmarkView.Latitude, lng: @Model.SingleLandmarkView.Longitute };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: uluru,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
        }
</script>

<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $("li[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                console.log(value);
                var landmarkId = @Model.SingleLandmarkView.Id;
                console.log(landmarkId);
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { landmarkId: landmarkId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/LandmarkVotes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}

