@using MyPlacesBox.Common
@model MyPlacesBox.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="col-md-4 offset-4">
        <p>We have:</p>
        <ul class="list-group">
            <li class="list-group-item bg-info">Landmarks: @Model.LandmarksCount</li>
            <li class="list-group-item bg-info">Hikes: @Model.HikesCount</li>
            <li class="list-group-item bg-info">Categories: @Model.CategoriesCount</li>
            <li class="list-group-item bg-info">Images: @Model.ImagesCount</li>
            <li class="list-group-item bg-info">Regions: @Model.RegionsCount</li>
            <li class="list-group-item bg-info">Towns: @Model.TownsCount</li>
            <li class="list-group-item bg-info">Mountains: @Model.MountainsCount</li>
        </ul>
    </div>
</div>
