@using MyPlacesBox.Common
@model MyPlacesBox.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>We have:</p>
    <ul>
        <li>Landmarks: @Model.LandmarksCount</li>
        <li>Hikes: @Model.HikesCount</li>
        <li>Categories: @Model.CategoriesCount</li>
        <li>Images: @Model.ImagesCount</li>
        <li>Regions: @Model.RegionsCount</li>
        <li>Towns: @Model.TownsCount</li>
        <li>Mountains: @Model.MountainsCount</li>
    </ul>
</div>
