@using MyPlacesBox.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/css/admin-bar.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" asp-append-version="true" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@


</head>
<body style=" background-color: #FAFAFA;">
    <div id="wrapper" class="container">
        <header class="masthead">
            <div class="bg-img">
                <div class="container">
                    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                        <div class="container">
                            <a class="navbar-brand topnav text-black-50" asp-area="" asp-controller="Home" asp-action="Index">My Places Box</a>
                            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <partial name="_LoginPartial" />
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark topnav" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark topnav" asp-area="" asp-controller="Landmarks" asp-action="All">All Landmarks</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark topnav" asp-area="" asp-controller="Hikes" asp-action="All">All Hikes</a>
                                    </li>
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark topnav" asp-area="" asp-controller="Landmarks" asp-action="Create">Create Landmarks</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark topnav" asp-area="" asp-controller="Hikes" asp-action="Create">Create Hikes</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </nav>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                            <div  class="container">
                                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                    <ul class="navbar-nav flex-grow-1">
                                        <li class="nav-item">
                                            <a class="nav-link text-dark topnav" asp-area="Administration" asp-controller="Categories" asp-action="Index">Categories Admin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark topnav" asp-area="Administration" asp-controller="Regions" asp-action="Index">Regions Admin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark topnav" asp-area="Administration" asp-controller="Towns" asp-action="Index">Towns Admin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark topnav" asp-area="Administration" asp-controller="Mountains" asp-action="Index">Mountains Admin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark topnav" asp-area="Views" asp-controller="GatherHikes" asp-action="Index">Gather Hike</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark topnav" asp-area="Views" asp-controller="GatherLandmarks" asp-action="Index">Gather Landmarks</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </nav>
                    }
                    <div class="container" style="margin-top: 75px;">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 text-center">
                                <h1 class="font-weight-light">
                                    Discover the amazing places of Bulgaria
                                </h1>
                                <p class="lead">See the incredible landmarks and hikes collected in one site</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <section class="main">
            <div class="shell clearfix">
                <partial name="_CookieConsentPartial" />
                <main role="main" class="pb-3">
                    @this.RenderBody()
                </main>
            </div>
        </section>

        <footer class="footer" style=" background-color: #DEDFD9">
            <div>
                <ul>
                    <li><a href="https://www.btsbg.org/">Bulgarian Tourist Union</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Team">Team</a></li>
                    <li><a href="#">Contacts</a></li>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <li>
                            <a asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                        </li>
                    }
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter icon"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram icon"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-google-plus-g icon"></i></a>
                    </li>
                </ul>

            </div>
            <div class="shell">
                &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        @await this.RenderSectionAsync("Scripts", required: false)

    </div>
</body>
</html>
