@model MyPlacesBox.Web.ViewModels.Hikes.HikesListInputModel
@{
    this.ViewData["Title"] = "All Hikes, page " + Model.PageNumber;
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="alert">
    @foreach (var hike in this.Model.Hikes)
    {
        <div class="media">
            <img src="@hike.ImageUrl" width="150" class="mr-3 img-responsive" alt="...">
            <div class="media-body">
                <h5 class="mt-0">@hike.Name</h5>
                <p>@(hike.Description.Length<400? hike.Description: hike.Description.Substring(0, 400))...</p>
                <ul class="list-item-meta">
                    <li>@hike.CategoryName</li>
                    <li>
                        <small class="glyphicon glyphicon-star" aria-hidden="true">@hike.RegionName</small>
                    </li>
                    <li><small class="glyphicon glyphicon-star" aria-hidden="true">@hike.Stars</small> </li>
                </ul>
            </div>
        </div>
    }
</div>

<div>
    <hr />
    <partial name="_PagingPartial" model="@Model"/>    
</div>